*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.Events{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#6ac1c5,#bda5ff); 
}
#calender{
    width: 100%;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


    


